{%extends "base.html"%}

{%load static%}

{%block head_tag_js%}
<script src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{%endblock head_tag_js%}

{%block title%}
Checkout
{%endblock%}

{%block heading%}
Checkout
{%endblock%}

{%block content%}

    <div>
        {%if messages%}
        <div class="message-sign-in">
            {%for message in messages%}
                {{message}}
            {%endfor%}
        </div>
        {%endif%}
    </div>

    <form role="form" enctype= multipart/form-data method="post" id="payment-form" action="{%url 'payment'%}">
        {% csrf_token %}
        <legend class="checkout-legend"><b>If payment of £{{ payment_amount }} is successful you will be redirected to the homepage...</b></legend>
        <div id="credit-card-errors" style="display:none">
            <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <div>
            <div class="checkout-form-user-info">{{ checkout_user_info }}</div>
            <div class="checkout-form-payment-info">{{ payment }}</div>
        </div>

        <div>
            <input class="checkout-btn btn reset-btn" id="submit-payment-btn" name="commit" type="submit" value="Submit Payment">
        </div>
                
    </form>
    
{%endblock%}