{%extends "base.html"%}

{%block title%}
Contact us
{%endblock%}

{%block heading%}
Contact us
{%endblock%}

{%block content%}
    <div class="contact">

        <div  class="contact-map">
            <div>
                <div id="map"></div>
                <script>
                    function initMap() {
                    var everest = {lat: 27.988121, lng: 86.924973};
                    var map = new google.maps.Map(
                        document.getElementById('map'), {zoom: 5, center: everest});
                    var marker = new google.maps.Marker({position: everest, map: map});
                    }
                </script>
            </div>
        </div>

        <div class="contact-content">
        
            <div class="contact-info">
                <div class="font-awesome">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="font-awesome-title">
                    naturadrink@gmail.com
                </div>
            </div>

            <div class="contact-info">
                <div class="font-awesome">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div  class="font-awesome-title">
                    45359948084
                </div>
            </div>

            <div class="contact-info">
                <div class="font-awesome">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
                <div  class="font-awesome-title">
                    <a href="https://twitter.com/Twitter" target="_blank" class="a-tag">@naturadrinkUK</a>
                </div>
            </div>

            <div class="contact-info">
                <div class="font-awesome">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div  class="font-awesome-title">
                    <p>Nepal, Sagarmatha National Park</p>
                    <p>the peak, 9000km</p>
                </div>
            </div>    

    </div>
{%endblock%}

