{%extends "base.html"%}

{%block title%}
Contact us
{%endblock%}

{%block heading%}
Contact us
{%endblock%}

{%block content%}
    <div class="contact">

        <div  class="contact-map">
            <div>
                map API
            </div>
        </div>

        <div class="contact-content">
        
            <div class="contact-info">
                <div class="font-awesome">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="font-awesome-title">
                    naturadrink@gmail.com
                </div>
            </div>

            <div class="contact-info">
                <div class="font-awesome">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div  class="font-awesome-title">
                    45359948084
                </div>
            </div>

            <div class="contact-info">
                <div class="font-awesome">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
                <div  class="font-awesome-title">
                    <a href="https://twitter.com/Twitter" target="_blank" class="a-tag">@naturadrinkUK</a>
                </div>
            </div>

            <div class="contact-info">
                <div class="font-awesome">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div  class="font-awesome-title">
                    <p>In the uk, in a county</p>
                    <p>Street name, warehouse number 42</p>
                </div>
            </div>    

    </div>
{%endblock%}

