{%load static%}
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <title>
    	Home
    </title>
</head>

<body>
    
<div class="homepage">
    <nav class="navbar navbar-expand-lg">
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center row" id="navbarNav">
            <ul class="navbar-nav col-md-5 row">
                <li class="nav-item active col-md-6">
                    <a class="nav-link nav-link-hp" href="{%url 'home'%}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item col-6">
                    <a class="nav-link nav-link-hp" href="{%url 'products'%}">Products</a>
                </li>
            </ul>
                <a class="nav-natura-hp col-md-2" href="{%url 'home'%}"></a>
            <ul class="navbar-nav col-md-5 row">
                <li class="nav-item col-6">
                    <a class="nav-link nav-link-hp" href="{%url 'our_story'%}">Our story</a>
                </li>
                <li class="nav-item col-6">
                    <a class="nav-link nav-link-hp" href="{%url 'contact_us'%}">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <div class="page-title">
            <h1>Featured</h1>
        </div>
        <div class="homepage-featured">

            <div class="row">
                <div class="col-md-4">
                    <a class="featured-orange-img" href=""></a>
                    <p class="featured-text-head">Natura</p>
                    <p class="featured-text-flavour">Orange</p>
                </div>
                <div class="col-md-4">
                    <a class="featured-blue-img" href=""></a>
                    <p class="featured-text-head">Natura</p>
                    <p class="featured-text-flavour">Blue</p>
                </div>
                <div class="col-md-4">
                    <a class="featured-yellow-img" href=""></a>
                    <p class="featured-text-head">Natura</p>
                    <p class="featured-text-flavour">Yellow</p>
                </div>
            </div>
            <div>
                <a href="{%url 'products'%}" class="a-tag">Browse more products...</a>
            </div>
        </div>
    </div>  
</div>

<div>
    <footer class="footer">
        <div class="row">
            <div class="col-md-8 row">
                <div class="col-md-6 footer-text">
                    <h4>Comment</h4>
                </div>
                <div class="col-md-6 footer-text">
                    <h4>Comment</h4>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="footer-list-ul">
                    <li class="footer-list-li">
                    <a href="https://www.linkedin.com/in/tom-garratt-303284168/" target="_blank" class="a-tag-footer"><i class="fa fa-linkedin-square"></i></a>
                    </li>

                    <li class="footer-list-li">
                    <a href="https://github.com/tgarratt" target="_blank" class="a-tag-footer"><i class="fa fa-github-square"></i></a>
                    </li>

                    <li class="footer-list-li">
                    <a href="https://twitter.com/Twitter" target="_blank" class="a-tag-footer"><i class="fa fa-twitter-square"></i></a>
                    </li>
                </ul>
            </div>
        </div>    
    </footer>
</div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
