{%extends "base.html"%}

{%block title%}
Our story
{%endblock%}

{%block heading%}
Our story
{%endblock%}

{%block content%}
    <div>

        <div>
            A little something about us...
        </div>

        <div class="our-story">
            <div>
                <div  class="our-story-piece our-story-text">about us content</div>
                <div  class="our-story-piece out-story-img-1"></div>
            </div>

            <div>
                <div  class="our-story-piece out-story-img-2"></div>
                <div  class="our-story-piece our-story-text">about us content</div>
            </div>

            <div>
                <div  class="our-story-piece our-story-text">about us content</div>
                <div  class="our-story-piece out-story-img-3"></div>
            </div>

        </div>

    </div>
{%endblock%}