{%extends "base.html"%}

{%block title%}
Our story
{%endblock%}

{%block heading%}
Our story
{%endblock%}

{%block content%}
    <div>

        <div class="our-story">
            <div class="piece">
                
                <div  class="our-story-piece our-story-text">
                    <div>
                        <u>Step one</u>
                    </div>
                    <div>
                        magna etiam tempor orci eu lobortis elementum nibh tellus molestie nunc non 
                        blandit massa enim nec dui nunc mattis enim ut tellus elementum sagittis vitae et
                        leo duis ut diam magna etiam tempor orci eu lobortis elementum nibh tellus molestie
                        nunc non blandit massa enim nec dui nunc mattis enim ut tellus elementum sagittis
                        vitae et leo duis ut diam
                    </div>
                </div> 
                <div  class="our-story-piece out-story-img-1"></div>
            </div>

            <div class="piece">
                <div  class="our-story-piece out-story-img-2"></div>
                <div  class="our-story-piece our-story-text">                    
                    <div>
                    `   <u>Step two</u>
                    </div>
                    <div>
                        magna etiam tempor orci eu lobortis elementum nibh tellus molestie nunc non 
                        blandit massa enim nec dui nunc mattis enim ut tellus elementum sagittis vitae et
                        leo duis ut diam magna etiam tempor orci eu lobortis elementum nibh tellus molestie
                        nunc non blandit massa enim nec dui nunc mattis enim ut tellus elementum sagittis
                        vitae et leo duis ut diam
                    </div>
                </div>
            </div>

            <div class="piece">
                <div  class="our-story-piece our-story-text">                 
                    <div>
                        <u>Step three</u>
                    </div>
                    <div>
                        magna etiam tempor orci eu lobortis elementum nibh tellus molestie nunc non 
                        blandit massa enim nec dui nunc mattis enim ut tellus elementum sagittis vitae et
                        leo duis ut diam magna etiam tempor orci eu lobortis elementum nibh tellus molestie
                        nunc non blandit massa enim nec dui nunc mattis enim ut tellus elementum sagittis
                        vitae et leo duis ut diam
                    </div>
                </div>
                <div  class="our-story-piece out-story-img-3"></div>
            </div>

        </div>

    </div>
{%endblock%}