{%extends "base.html"%}

{%block title%}
Our story
{%endblock%}

{%block heading%}
Our story
{%endblock%}

{%block content%}
    <div>

        <div>
            A little something about us...
        </div>

        <div class="our-story">
            <div>
                <div  class="our-story-piece">about us content</div>
                <div  class="our-story-piece">image</div>
            </div>

            <div>
                <div  class="our-story-piece">image</div>
                <div  class="our-story-piece">about us content</div>
            </div>

            <div>
                <div  class="our-story-piece">about us content</div>
                <div  class="our-story-piece">image</div>
            </div>

        </div>

    </div>
{%endblock%}