{%extends "base.html"%}

{%block title%}
Products
{%endblock%}

{%block heading%}
Products
{%endblock%}

{%block content%}
    <div>
    
        <div class="product-category">
            <div class="product">
                <div class="product-img-bottle"></div>
                <div>bottle</div>
                <div>price</div>
                <a href="#">view</a>
            </div>
                        
            <div class="product">
                <div class="product-img-bottle"></div>
                <div>bottle</div>
                <div>price</div>
                <a href="#">view</a>
            </div>

            <div class="product">
                <div class="product-img-bottle"></div>
                <div>bottle</div>
                <div>price</div>
                <a href="#">view</a>
            </div>

            <div class="product">
                <div class="product-img-bottle"></div>
                <div>bottle</div>
                <div>price</div>
                <a href="#">view</a>
            </div>

            <div class="product">
                <div class="product-img-bottle"></div>
                <div>bottle</div>
                <div>price</div>
                <a href="#">view</a>         
            </div>

            <div class="product">
                <div class="product-img-bottle"></div>
                <div>bottle</div>
                <div>price</div>
                <a href="#">view</a>
            </div>

            <div class="product">
                <div class="product-img-bottle"></div>
                <div>bottle</div>
                <div>price</div>
                <a href="#">view</a>
            </div>

            <div class="product">
                <div class="product-img-bottle"></div>
                <div>bottle</div>
                <div>price</div>
                <a href="#">view</a>
            </div>
        </div>

        <div class="product-category">
            <div class="product">
                <div class="product-img-crate"></div>
                <div>crates</div>
                <div>price</div>
                <a href="#">view</a>
            </div>

            <div class="product">
                <div class="product-img-crate"></div>
                <div>crates</div>
                <div>price</div>
                <a href="#">view</a>
            </div>

            <div class="product">
                <div class="product-img-crate"></div>
                <div>crates</div>
                <div>price</div>
                <a href="#">view</a>
            </div>

            <div class="product">
                <div class="product-img-crate"></div>
                <div>crates</div>
                <div>price</div>
                <a href="#">view</a>
            </div>

            <div class="product">
                <div class="product-img-crate"></div>
                <div>crates</div>
                <div>price</div>
                <a href="#">view</a>
            </div>

            <div class="product">
                <div class="product-img-crate"></div>
                <div>crates</div>
                <div>price</div>
                <a href="#">view</a>
            </div>

            <div class="product">
                <div class="product-img-crate"></div>
                <div>crates</div>
                <div>price</div>
                <a href="#">view</a>
            </div>
        </div>

        <div class="product-category">
            <div class="product">
                <div class="product-img-keg"></div>
                <div>kegs</div>
                <div>price</div>
                <a href="#">view</a>
            </div>

            <div class="product">
                <div class="product-img-keg"></div>
                <div>kegs</div>
                <div>price</div>
                <a href="#">view</a>
            </div>

            <div class="product">
                <div class="product-img-keg"></div>
                <div>kegs</div>
                <div>price</div>
                <a href="#">view</a>
            </div>
        </div>
    
    </div>
{%endblock%}