{%extends "base.html"%}

{%block title%}
Sign in
{%endblock%}

{%block heading%}
Admin access
{%endblock%}

{%block content%}
<div class="access-form">
    <form method="POST">
        {% csrf_token %}

        {{sign_in_form}}

        <button type="submit" class="btn btn-light btn-sm">Sign in</button>

    </form>

    <div>
        {%if messages%}
        <div class="message-home">
            {%for message in messages%}
                {{message}}
            {%endfor%}
        </div>
        {%endif%}
    </div>

</div>
{%endblock%}